<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Recupera la password</mat-panel-title>
    <mat-panel-description>inserendo il nome</mat-panel-description>
  </mat-expansion-panel-header>

  <form [formGroup]="form">
    <label>Nome Password </label>
    <input type="text" formControlName="namePassword">
    <button (click)="getPassword()">Get Passoword</button>
    <div class="resultPassword">
      <mat-accordion *ngIf="password!=undefined">
        <mat-expansion-panel>
          <mat-expansion-panel-header>Password</mat-expansion-panel-header>
          {{password.value}}
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </form>

</mat-expansion-panel>
