<mat-expansion-panel (closed)="cleanField()">
  <mat-expansion-panel-header>
    <mat-panel-title>Elimina password</mat-panel-title>
    <mat-panel-description>inserendo il suo nome</mat-panel-description>
  </mat-expansion-panel-header>
  <form #form="ngForm" (submit)="deletePassword()">
    <label>Nome Password </label>
    <input type="text" name="namePassword" [(ngModel)]="namePassword" />
    <input type="submit" title="Delete Passoword" /> <br />
    <label>{{ StatusRequest }}</label>
  </form>
</mat-expansion-panel>
