<mat-expansion-panel>
    <mat-expansion-panel-header>
       <mat-panel-title>Crea nuova password</mat-panel-title>
       <mat-panel-description>inserendo il nome e la password</mat-panel-description>
    </mat-expansion-panel-header>
<form [formGroup]="form" >
    <label >Nome Password </label>
    <input type="text" formControlName="namePassword">               
    <label >Password </label>
    <input type="text" formControlName="password">         
    <button (click)="addPassword()">Get Passoword</button> <br>
    <label>{{StatusRequest}}</label>



</form>
</mat-expansion-panel>
  
