<mat-expansion-panel (closed)="onClose()">
  <mat-expansion-panel-header>
    <mat-panel-title>Crea nuova password</mat-panel-title>
    <mat-panel-description
      >inserendo il nome e la password</mat-panel-description
    >
  </mat-expansion-panel-header>
  <form #form="ngForm" (submit)="onSubmit()">
    <label>Nome Password </label>
    <input type="text" name="namePassword" [(ngModel)]="namePassword" />
    <label>Password </label>
    <input type="text" name="password" [(ngModel)]="password" />
    <input type="submit" name="Get Passoword" /> <br />
    <label>{{ StatusRequest }}</label>
  </form>
</mat-expansion-panel>
